---

- name: Stopping and disabling Opencast
  service:
    name: opencast
    state: stopped
    enabled: false
  ignore_errors: yes
  become: yes

- name: Loading platform variables
  include_vars: "{{item}}"
  with_first_found:
    - "{{ansible_distribution}}-{{ansible_distribution_release}}.yml"
    - "{{ansible_distribution}}.yml"
    - "{{ansible_os_family}}.yml"

- name: Removing Opencast packages
  package:
    name: "{{ item }}"
    state: absent
  with_items:  "{{ lookup('vars', group_names[1]) }}"
  become: yes

- import_tasks: debian.yml
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Removing potential Opencast leftovers
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ oc_config_dir }}"
    - "{{ oc_base_dir }}"
    - "{{ oc_local_dir }}"
    - "{{ oc_log_dir }}"
  become: yes
