---

- name: restart activemq
  action: service
    name=activemq
    state=restarted
  become: yes

- name: restart opencast
  action: service
    name=opencast
    state=restarted
  when: not uninstall is defined
  become: yes
